#stepback-button {
    position: absolute;
    width: 30%;
    height: 7%;
    top: -20%;
    left: 38%;    
    border-style: none;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #265DC7;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4.15917px 8.31834px rgba(0, 0, 0, 0.14), 0px 8.31834px 10.3979px rgba(0, 0, 0, 0.12), 0px 2.07958px 20.7958px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
    outline: none;
    min-height: 25px;
}

#stepback-button:hover {
    position: absolute;
    width: 30%;
    height: 7%;
    top: -20%;
    left: 38%;   
    border-style: none;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 70%), #265DC7;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4.15917px 8.31834px rgba(0, 0, 0, 0.14), 0px 8.31834px 10.3979px rgba(0, 0, 0, 0.12), 0px 2.07958px 20.7958px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
    min-height: 25px;
}

#stepback-button:active {
    position: absolute;
    width: 30%;
    height: 7%;
    top: -20%;
    left: 38%;   
    border-style: none;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 70%), #1f4ca7;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4.15917px 8.31834px rgba(0, 0, 0, 0.14), 0px 8.31834px 10.3979px rgba(0, 0, 0, 0.12), 0px 2.07958px 20.7958px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
    min-height: 25px;
}

#stepback-button-locked {
    position: absolute;
    width: 30%;
    height: 7%;
    top: -20%;
    left: 38%;   
    border-style: none;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #112a5c;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4.15917px 8.31834px rgba(0, 0, 0, 0.14), 0px 8.31834px 10.3979px rgba(0, 0, 0, 0.12), 0px 2.07958px 20.7958px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
    min-height: 25px;
}


#stepback-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 100%;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #B6F6FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
   
}

@media screen and (max-height: 400px) {
    #stepback-text {
        font-size: 10px;
    }
}