<table class="squares">
    <app-restart></app-restart>
    <tr *ngFor="let y of [0,1,2,3,4,5,6,7,8,9]">
        <td *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]">
            <div><button class="square-field" (click) = "Clicked(x, y)">
                <div class="isToMove" *ngIf="isToMove(x,y)"></div>
                <div *ngIf="isEnemy(x,y)">
                    <div class="enemy-piece">
                        <div class="enemy-text">999</div>
                    </div>                    
                </div>
                <div *ngIf="isStartPosition(x, y)">
                    <div class="knight">
                        <div class="knight-text">999</div>
                    </div>
                </div>
            </button></div>
            <div *ngIf="checkForLose(x,y)"><app-lose-window></app-lose-window></div>
        </td>
    </tr>
</table>