<app-stepback></app-stepback>
<app-restart></app-restart>
<div class="grid-container">
    <button class="square-field" *ngFor="let square of squares" (click)="Clicked(getIndex(square.x, square.y))">
        <div class="isToMove" *ngIf="isToMove(getIndex(square.x, square.y))"></div>
            <div *ngIf="isEnemy(getIndex(square.x, square.y))">
                <div class="enemy-piece">
                    <div class="enemy-text">{{this.findByCoordinates(square.x, square.y).counter}}</div>
                </div>                    
            </div>
            <div *ngIf="isStartPosition(getIndex(square.x, square.y))">
                <div class="knight">
                    <div class="knight-text">{{this.moveCounter - 1}}   </div>
                </div>
        </div>
        </button>
</div>
<div *ngIf="checkForWin()"><app-win-window></app-win-window></div>
<div *ngIf="checkForLose()"><app-lose-window></app-lose-window></div>