li {
    list-style-type: none;
}
.square-field {
    width: 61px;
    height: 61px;
    background: linear-gradient(180deg, #FFFFFF -31.99%, rgba(255, 255, 255, 0) 113.98%);
    filter: drop-shadow(-21px 15px 50px rgba(29, 38, 70, 0.25));    
    border-radius: 16px;
    margin: 6px;
    border-style: none;
}

.square-field:hover {
    width: 61px;
    height: 61px;
    background: linear-gradient(180deg, #CAA4FF -31.99%, rgba(255, 255, 255, 0.19) 113.98%);
    box-shadow: 0px 11px 30px rgba(29, 38, 70, 0.6), inset 0px 8px 12px rgba(255, 255, 255, 0.59);
    filter: drop-shadow(-21px 15px 50px rgba(29, 38, 70, 0.25));    
    border-radius: 16px;
    margin: 6px;

}

.square-field:active {
    width: 61px;
    height: 61px;
    background: linear-gradient(180deg, #CAA4FF -31.99%, rgba(255, 255, 255, 0.19) 113.98%);
    box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.6), inset 0px 8px 12px rgba(255, 255, 255, 0.59);
    filter: drop-shadow(-21px 15px 50px rgba(29, 38, 70, 0.25));    
    border-radius: 16px;
    margin: 6px;
}

.isToMove {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
    right: 0%;
    top: 18px;
    bottom: 0%;
    shape-outside: ellipse();
    clip-path: circle();
    background: linear-gradient(180deg, #FFB800 0%, #FF1F00 100%);
}




