.enemy-piece {
    position: absolute;
    left: 20.31%;
    right: 20.96%;
    top: 20.31%;
    bottom: 20.93%;

    background: linear-gradient(220.53deg, #B2F763 0%, #26AB3F 76.95%);
    box-shadow: 6px -6px 16px rgba(178, 247, 99, 0.2);
    shape-outside: ellipse();
    clip-path: circle();
}

.enemy-text {
    position: absolute;
    left: 14.31%;
    right: 20.31%;
    top: 18.25%;
    bottom: 31.25%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}