<div class="messageBar"><div class="messageBar-Text">CONGRATS!</div></div>
<div class="centerBar">
    <div class="bored-Div">
        <div class="left-Eye">
            <div class="left-Point-Eye">

            </div>
        </div>
        <div class="right-Eye">
            <div class="right-Point-Eye">
                
            </div>
        </div>
        <div class="bored-Smile"></div>
    </div>
    <div class="text-Bar">You are winner!</div>
    <button class="try-Again-Button" (click)="restart()">
        <div class="try-Again-Text">RESTART</div>
    </button>
</div>
<div class="lowBar"></div>

