<div class="main-container">
  <div id="blue-ellipse"></div>
  <div id="yellow-ellipse"></div>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
  <div class="play-container">
    <div id="size-box">10x10</div>
    <div class="board">
      <div class="square-table">
        <app-squares>
        </app-squares>
      </div>
    </div>
  </div>
</div>